.idea
.loadpath
.project
config/database.yml
config/sunspot.yml
*.log
*.out
tmp/*
nbproject/*
index/*
config/ferret_server.yml
config/erp.yml
start_server.sh
public/images/statistics/*
.DS_Store
*.DS_Store
*/.DS_Store
*/*/.DS_Store
.DS_STORE
*.DS_STORE
*/.DS_STORE
*/*/.DS_STORE
gigit
db/development.sqlite3
db/_20090313_1033.sql
db/schema.rb
solr/
solr/*
sunspot-solr.pid
rerun.txt
